<footer class="footer row" id="footer">

    {#
    <span class="container-baballe hide-for-small ">
        <span class="baballe">
        </span>
    </span>
    #}
        <h5 class="text-right hide-for-small">
            <small class="">
                {{ 'views.footer.anytrouble'|trans }}
            </small>
        </h5>
        <h4 class="text-right">
            <a href="{{ path('zimzim_bundles_app_home') }}" class="hide-for-small ">
                {{ 'site.title.long'|trans }}
            </a>
            <a href="{{ path('zimzim_bundles_app_home') }}" class="show-for-small ">
                {{ 'site.title.small'|trans }}
            </a>
        </h4>

</footer>