<div class="row">
    <div class="small-6  medium-6 columns">
        <h4 class="text-center headerpagehome">
            <small>{{ requestUser.createdAt|date('d/m/Y H:i') }}</small>
            {{ requestUser.user.username }}
        </h4>
    </div>
    <div class="small-6 medium-2 columns">
        <h6 class="text-center headerpagehome">
            {{ 'views.bundles.app.usertournament.index.enabled'|trans }} {{ macro.yesno(requestUser.enabled) }}
            <br/>
            {{ 'views.bundles.app.usertournament.index.validate'|trans }} {{ macro.yesno(requestUser.validate) }}
        </h6>
    </div>
    <div class="small-12 medium-4 columns">
        <h4 class="text-center headerpagehome">
            <a class="tiny button round" href="{{ path('zimzimz_bundles_app_requestuser_enabledvalidate', {'id': requestUser.id}) }}">
                {{ 'button.update'|trans }}
            </a>
        </h4>
    </div>
</div>