{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.bundles.app.requestuser.index.title'|trans }}
{% endblock title %}

{% block page %}

    {% for entity in entities %}
        <div class="panel">
            <div class="row">
                <div class="small-12 columns">
                    <h1 class="text-center headerpagehome">
                        {{ entity.userTournament.name }}
                    </h1>

                    <h2 class="text-center headerpagehome">
                        {{ entity.userTournament.Tournament.name }}
                    </h2>
                </div>
            </div>


            <div class="row">
                <div class="small-6 medium-4 columns">
                    <h5 class="text-center">
                        <a href="#" class="tiny button round">
                            {{'button.game'|trans }}
                        </a>
                    </h5>
                </div>
                <div class="small-6 medium-4 columns">
                    <h5 class="text-center">
                        <a href="#" class="tiny button round">
                            {{'button.ranking'|trans }}
                        </a>
                    </h5>
                </div>
                <div class="small-12 medium-4 columns">
                    <h5 class="text-center">
                        <a href="#" class="tiny button round">
                            {{'button.score'|trans }}
                        </a>
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="small-6 columns">
                    <h5 class="text-center headerpagehome">
                        {{ entity.userTournament.dateStart|date('d/m/Y') }}
                    </h5>
                </div>
                <div class="small-6 columns">
                    <h5 class="text-center headerpagehome">
                        {{ entity.userTournament.dateEnd|date('d/m/Y') }}
                    </h5>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock page %}
