{% extends '::base.html.twig' %}


{% block title %}
    {{ 'views.bundles.app.usertournament.showuser.title'|trans({'%name%': entity.name}) }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ entity.name }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            {% include 'ZIMZIMBundlesAppBundle:UserTournament:include/line.html.twig' with{'entity': entity} %}
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns text-center">
            <h3>
                <a href="{{ path('zimzim_bundles_app_requestuser') }}" class="button round tiny">
                    {{ 'button.back'|trans }}
                </a>
            </h3>
        </div>
        <div class="small-6 columns text-center">
            <h3>
                <a href="{{ path('zimzim_bundles_app_game', {'id': entity.tournament.id}) }}" class="button round tiny">
                    {{ 'button.game'|trans }}
                </a>
            </h3>
        </div>
    </div>

{% endblock %}
