{% extends '::base.html.twig' %}


{% block title %}
    {{ 'zimzim_bundles_app_usertournament.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">Entity</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            <table class="width-100 panel">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ entity.text }}</td>
                </tr>
                <tr>
                    <th>Datestart</th>
                    <td>{{ entity.dateStart|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Dateend</th>
                    <td>{{ entity.dateEnd|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Enabled</th>
                    <td>{{ entity.enabled }}</td>
                </tr>
                <tr>
                    <th>Createdat</th>
                    <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Updatedat</th>
                    <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="small-12 large-4 columns text-center">
                    <a class="tiny button round" href="{{ path('zimzim_bundles_app_adminusertournament') }}">
                        {{ 'link.return'|trans }}
                    </a>
                </div>
                <div class="small-12 large-4 columns text-center">
                    <a class="tiny button round"
                       href="{{ path('zimzim_bundles_app_adminusertournament_edit', { 'id': entity.id }) }}">
                        {{ 'button.update'|trans }}
                    </a>
                </div>
                <div class="small-12 large-4 columns text-center">
                    {{ form(delete_form) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
