{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.bundles.app.game.index.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.bundles.app.game.index.title'|trans }} {{ tournament.name }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="small-6 columns">
            <h3 class="text-left headerpagehome">
                {{ tournament.dateStart|date('d/m/Y') }}
            </h3>
        </div>
        <div class="small-6 columns">
            <h3 class="text-right headerpagehome">
                {{ tournament.dateEnd|date('d/m/Y') }}
            </h3>
        </div>
    </div>

    {{ grid_search(grid) }}

    {{ grid(grid) }}

{% endblock %}
