{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.bundles.app.game.score.title'|trans }}
{% endblock title %}


{% block page %}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center headerpagehome">
                {{ 'views.bundles.app.game.score.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 large-12 columns">
            {{ form(form) }}

            <div class="row">
                <div class="small-12 large-4 columns text-center">
                    <a class="tiny button round" href="{{ path('zimzim_bundles_app_game', {'id': game.tournament.id}) }}">
                        {{ 'button.back'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
